<!-- Page Content -->
  <section id="view-tours-main" class="mb-3">

    <div class="container mb-3">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-6">
          <h1 class="mt-5">Add a Tour</h1>
        </div>
      </div>

      <!-- Start form -->
      <form id="add-tour-form">

        <!-- Tour title -->
        <div class="form-group">
            <label for="tourcreator">Your Name</label>
            <input type="text" class="form-control" id="tourcreator" aria-describedby="creatorHelp" placeholder="Enter your name" required>
            <small id="creatorHelp" class="form-text text-muted">Your name will be displayed alongside your tour.</small>
        </div>

        <!-- Tour title -->
        <div class="form-group">
            <label for="tourtitle">Tour title</label>
            <input type="text" class="form-control" id="tourtitle" aria-describedby="titleHelp" placeholder="Enter tour title" required>
            <small id="titleHelp" class="form-text text-muted">Enter a short, descriptive title for your walking tour.</small>
        </div>

        <!-- Tour description -->
        <div class="form-group">
            <label for="tourdescription">Description</label>
            <textarea class="form-control" id="tourdescription" rows="3" aria-describedby="descriptionHelp" placeholder="Enter tour description" required></textarea>
            <small id="descriptionHelp" class="form-text text-muted">Enter a short description of what users will see or do during your tour.</small>
        </div>

        <!-- Tour duration  -->
        <div class="form-group">
            <label for="tourduration">Duration</label>
            <input type="number" class="form-control" id="tourduration" aria-describedby="durationHelp" min="1" placeholder="Enter tour duration (minutes)">
            <small id="durationHelp" class="form-text text-muted">Enter the estimated duration of your event in minutes.</small>
        </div>

        <!-- Neighborhood select -->
        <div class="form-group">
            <label for="tourneighborhood">Neighborhood</label>
            <select class="form-control" id="tourneighborhood" aria-describedby="neighborhoodHelp" required>
                    <option>Select Neighborhood</option>
                    <option value="0">Bella Vista</option>
                    <option value="1">Callowhill</option>
                    <option value="2">Chinatown</option>
                    <option value="3">East Passyunk</option>
                    <option value="4">Fairmount</option>
                    <option value="5">Fishtown</option>
                    <option value="6">Graduate Hospital</option>
                    <option value="7">Logan Square</option>
                    <option value="8">Market East</option>
                    <option value="9">Midtown Village</option>
                    <option value="10">Northern Liberties</option>
                    <option value="11">Old City</option>
                    <option value="12">Pennsport</option>
                    <option value="13">Powelton Village</option>
                    <option value="14">Queen Village</option>
                    <option value="15">Rittenhouse Square</option>
                    <option value="16">Society Hill</option>
                    <option value="17">Spring Garden</option>
                    <option value="18">Spruce Hill and Cedar Park</option>
                    <option value="19">University City</option>
                    <option value="20">Washington Square West</option>
            </select>
            <small id="neighborhoodHelp" class="form-text text-muted">Select the primary neighborhood that your tour covers.</small>
        </div>

        <!-- Upload tour image -->
        <div class="form-group">
            <label for="tourimg">Upload Tour Image</label>
            <input type="text" class="form-control" id="tourimg" aria-describedby="imgHelp" placeholder="Enter your image">
            <small id="imgHelp" class="form-text text-muted">Add the URL to an image that best represents your tour.</small>
        </div>

        <!-- Tour tags  -->
        <div class="form-group">
            <label for="tourtags">Tags</label>
            <div class="input-group" aria-describedby="tagsHelp">
                <div class="input-group-prepend">
                    <span class="input-group-text">Your Tags</span>
                </div>
                <input type="text" aria-label="Tag 1" class="form-control tag">
                <input type="text" aria-label="Tag 2" class="form-control tag">
                <input type="text" aria-label="Tag 3" class="form-control tag">
            </div>
            <small id="tagsHelp" class="form-text text-muted">Enter up to 3 tags that capture the spirit of your tour (eg, Arty, Family Friendly, Sporty).</small>
        </div>

        <button type="submit" class="btn btn-outline-secondary btn-lg btn-block" id="submit-tour">Create Tour</button>

        <!-- Tour Stops -->
        <div id="tourstopssection">
          <hr />
          <div class="form-group tourstop">
              <label for="tourstop">Add Tour Stop</label>
                  <input type="text" class="form-control stoptitle" aria-describedby="stopHelp" placeholder="Enter stop name">
                  <small id="stopHelp" class="form-text text-muted">Enter a name for this stop.</small>

                  <input type="text" class="form-control mt-3 stopaddress" aria-describedby="stopAddressHelp" placeholder="Enter stop address" id="stopAddressHelp">
                  <small id="stopAddressHelp" class="form-text text-muted">Enter an address for this stop.</small>

                  <input class="form-control mt-3 stopdescription" rows="3" aria-describedby="stopDescriptionHelp" placeholder="Enter a description for this stop"></input>
                  <small id="stopDescriptionHelp" class="form-text text-muted">Enter a short description of what users can expect to find at this stop.</small>

                  <button type="button" class="btn btn-outline-success mt-3" id="add-stop-button">Add Another Stop</button>
          </div>

          <!-- Submit tour locations button -->
          <button type="submit" class="btn btn-outline-secondary btn-lg btn-block" id="submit-locations">Submit Tour Locations</button>
          </div>
        </form>

    </div>
    <script>
    
      var input = document.getElementById('stopAddressHelp');
      var autocomplete = new google.maps.places.Autocomplete(input);
    
  </script>
    
   
  </section>
