<!-- Page Content -->
  <section id="view-tours-main" class="mb-3">
    <div class="container mb-3">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-6">
          <h1 class="mt-5">Sign Up</h1>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-10">
                <div class="card-body">
                    <form class="signup">
                        <div class="form-group">
                            <label for="exampleInputName1"> Name </label>
                            <input type="name" class="form-control" id="name-input" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email-input" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password-input" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Sign Up</button>
                    </form>
                </div>
              </div>
          </div>
        </div>
      </div>
  </section>
  