<!-- Page Content -->
  <section id="view-tours-main" class="mb-3">
    <div class="container mb-3">
      <div class="row justify-content-center align-items-center text-center">
        <div class="col-lg-6">
          <h1 class="mt-5">View All Tours</h1>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-10">
            <div class="card shadow-sm">
                <h5 class="card-header">Historic Fairmount Walking Tour <span id="creator" class="font-italic">by John Smith</span></h5>
                <div class="card-body">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Art_Museum_area.jpg" alt="..." class="img-thumbnail w-50 mb-2">
                  <h3><span id="neighborhood" class="badge badge-info">Fairmount</span></h3>
                  <h5><span id="duration" class="badge badge-danger">120 minutes</span></h5>
                  <p>
                      <span class="tour-tag badge badge-secondary">Arty</span>
                      <span class="tour-tag badge badge-secondary">Historic</span>
                      <span class="tour-tag badge badge-secondary">Family Friendly</span>
                  </p>
                  <p class="card-text">Fairmount is a neighborhood in the city of Philadelphia, Pennsylvania situated just Northwest of Center City. Along with the surrounding neighborhoods of Brewerytown, Francisville and Spring Garden, Fairmount is part of the city's beautiful Art Museum Area. Named for the hill upon which the Philadelphia Museum of Art stands, Fairmount is just north of the museum. It borders the Benjamin Franklin Parkway, Philly's version of the Champs Elysées and Fairmount Park, the largest urban park in the world.</p>
                  <a href="/tour/1" class="btn btn-outline-secondary btn-lg btn-block" role="button">View Tour</a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </section>