@import url('https://fonts.googleapis.com/css?family=Lato|Damion');

/* Site-wide */
html,
body {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-family: "Damion";
}

/* Landing Page */
#landing {
  background: url('../images/philly.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* height: 100vh; */
  width: 100%;
}

#landing-main {
  margin-top: 15%;
  font-size: 28px;
}

#landing-main h1 {
  font-family: "Damion";
  font-size: 100px;
}

#landing-main h1, p {
  text-shadow: 1px 1px 2px rgb(95, 95, 95);
}

/* Handle smaller screens */
@media (max-width: 500px) {

  #landing-main {
    font-size: 24px;
  }

  #landing-main h1 {
    font-size: 60px;
  }

}
